*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    text-align: center;

}

/* utility */
.container{
    max-width: 1200px;
    margin: auto;
}
.container-small{
    max-width: 1000px;
    margin: auto;
}
li{
    list-style: none;
}
.btn {
    text-decoration: none;  
    padding: 8px 20px;
}
.btn-blue{
    background-color: #0061ff;
    color: white;
}
.btn-white{
    
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.col{
    float: left;

}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-33 {
    width: calc(100% - 33%);
}
.w-50 {
    width: 50%;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.aline-text-left{
    text-align: left;
}
.aline-text-right{
    text-align: right;
}
.line-height{
    line-height: 80px;
}





/* ------- */



/* nav */
nav{
    margin: 0 20px;
}
.logo{
    vertical-align: middle;
}
header{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: white;
}
nav .col li{
    display: inline;
}

/* main  */
.main-frontpage{
    margin-top: 80px;
}

.frontpage.color{
    background-color: #b4d0e7;
    width: 100%;
    height: 720px;
}
.main-frontpage .col-dx img{
    width: 100%;
}
.btn-frontpage{
    line-height: 65px;
}
.title-frontpage{
    font-size:70px;
    font-weight: 800;
}
.frontpage .container{
    padding-top: 50px;
}